<user-mapping>
    <!-- This password protects the local Guacamole web page. Change it. -->
    <authorize username="student" password="CHANGE_ME">
        <connection name="SPE desktop">
            <protocol>rdp</protocol>
            <param name="hostname">SPE_PUBLIC_IP</param>
            <param name="port">3389</param>
            <param name="security">any</param>
            <param name="ignore-cert">true</param>
            <!-- Guacamole forwards these credentials to xrdp. -->
            <param name="username">speuser</param>
            <param name="password">SPE_DESKTOP_PASSWORD</param>
        </connection>
    </authorize>
</user-mapping>
